{% extends '::base.html.twig' %}

{% form_theme edit_form _self %}

{% if edit_form is defined %}
    {% form_theme edit_form 'IARegisterBundle:Form:fields.html.twig' %}
{% endif %}

{% block body -%}
    <style>

    </style>
    <div class="span5">
        <h1>Contact Information edit</h1>

        <form action="{{ path('contact_info_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
            <input type="hidden" name="_method" value="PUT" />
            {{ form_widget(edit_form) }}
            <p>
                <button type="submit" class="btn btn-primary pull-left">Edit</button>
            </p>
        </form>
        <form action="{{ path('contact_info_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-primary pull-right">Delete</button>
        </form>
        <div style="clear: both"></div>
        <div class="record_actions">
            <a href="{{ path('contact_info') }}">Back to the list</a>
        </div>
    </div>

{% endblock %}
