{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Contact Information list</h1>
    <div class="btn-toolbar">
        <a href="{{ path('contact_info_new') }}" class="btn btn-primary">Create a new entry</a>
    </div>

    <div class="well">
        <table class="records_list table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Address</th>
                <th>Tel</th>
                <th>Fax</th>
                <th>Email</th>
                <th>WWW</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Personal Code</th>
                <th>Created at</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    {#<td><a href="{{ path('contact_info_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                    <td>{{ entity.address }}</td>
                    <td>{{ entity.tel }}</td>
                    <td>{{ entity.fax }}</td>
                    <td>{{ entity.email }}</td>
                    <td>{{ entity.wwwaddress }}</td>
                    <td>{{ entity.firstname }}</td>
                    <td>{{ entity.lastname }}</td>
                    <td>{{ entity.personalcode }}</td>
                    <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        {#<a href="{{ path('user_show', { 'id': entity.contactuser.id }) }}"><i class="icon-user"></i></a>#}
                        <a href="{{ path('contact_info_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i></a>
                        {#<a href="{{ path('contact_info_delete', { 'id': entity.id }) }}"><i class="icon-remove"></i></a>#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
