{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Booking list</h1>
    <div class="btn-toolbar">
        <a href="{{ path('booking_new') }}" class="btn btn-primary">Create a new entry</a>
    </div>

    <div class="well">
        <table class="records_list table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Order Number</th>
                <th>Order Salesman</th>
                <th>Additional_info</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('booking_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.ordernumber }}</td>
                    <td>{{ entity.bookinguser.username }}</td>
                    <td>{{ entity.additionalinfo }}</td>
                    <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('booking_show', { 'id': entity.id }) }}">show</a>
                        <a href="{{ path('booking_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
